
<div id="mainPart">


  <div id="mainTitle">
    {{NewRssData?.rss?.channel?.[0]?.title}}<br> {{NewRssData?.rss?.channel?.[0]?.description}} <br> {{NewRssData?.rss?.channel?.[0]?.image?.[0]?.link}}
    <br> {{NewRssData?.rss?.channel?.[0]?.image?.[0]?.title}} <br> {{NewRssData?.rss?.channel?.[0]?.image?.[0]?.url}}
    <br> {{NewRssData?.rss?.channel?.[0]?.language}} <br> {{NewRssData?.rss?.channel?.[0]?.lastBuildDate}} <br> {{NewRssData?.rss?.channel?.[0]?.link}}
    <button id="button">Go to Map</button>
  </div>

  <section class="container">

    <div *ngFor="let o of NewRssData?.rss?.channel?.[0]?.item;">
      <div class="card">
        <div class="card-image car-1"></div>
        <span>{{o.title}}</span><br>
        <span>{{o.category}}</span><br>
        <span>{{o.description}}</span><br>
        <span>{{o.link}}</span><br>
        <span>{{o.pubDate}}</span><br>
        <span>{{o["geo:lat"]}}</span>
        <span>{{o["geo:long"]}}</span>

      </div>

    </div>

  </section>




</div>
