<div id="mainPart">

  <div id="mainTitle">
    {{RssData?.rss?.channel?.[0]?.title}}<br> {{RssData?.rss?.channel?.[0]?.description}} <br> {{RssData?.rss?.channel?.[0]?.image?.[0]?.link}}
    <br> {{RssData?.rss?.channel?.[0]?.image?.[0]?.title}} <br> {{RssData?.rss?.channel?.[0]?.image?.[0]?.url}}
    <br> {{RssData?.rss?.channel?.[0]?.language}} <br> {{RssData?.rss?.channel?.[0]?.lastBuildDate}} <br> {{RssData?.rss?.channel?.[0]?.link}}
  </div>

  <section class="container">
    <div *ngFor="let o of RssData?.rss?.channel?.[0]?.item;">
        <div class="card">
            <div class="card-image car-1"></div>
            <span>{{o.title}}</span><br>
            <span>{{o.category}}</span><br>
            <span>{{o.description}}</span><br>
            <span>{{o.link}}</span><br>
            <span>{{o.pubDate}}</span><br>
        </div>
    </div>
  </section>

</div>
